@font-face {
  font-family: "Mortal Kombat";
  src: url(./assets/Mortal-Kombat-MK11.otf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Mortal Kombat", sans-serif;
  font-size: 20px;
  background-color: #000;
  color: #fdb124;
}

hr {border: 5px solid rgba(253, 177, 36, 0.363);}

.currentWeather {margin-top: 20px;}

.container,
.weatherData {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 1750px;
}

.weatherData,
.windData {
  max-width: 900px;
  /* border: 5px solid rgba(253, 177, 36, 0.363); */
  margin-top: 55px;
}

.temperatureContainer,
.windData {
  display: flex;
  justify-content: center;
}

.temperature_label{
  font-size: 140%;
  padding: 10px;
  align-self: center;
}

.temperature_Fa,
.temperature_Ce {
  font-size: 300%;
  align-self: center;
  padding: 0 30px;
}

.temperature_Fa {border-right: 5px solid rgba(253, 177, 36, 0.363);}


.windDirection,
.windSpeed,
.windGusts {
  padding: 10px;
  margin: 0 20px;
  font-size: 200%;
}

.container div {margin: 5px;}

.cityChoose {font-size: 400%;}

.temperature {font-size: 48px;}

.description {
  font-size: 150%;
  text-align: center;
  margin-bottom: 25px;
}

hr {
  background-color: #fdb124;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul {list-style-type: none;}

.App {text-align: center;}