@font-face {
  font-family: "Mortal Kombat";
  src: url(./assets/Mortal-Kombat-MK11.otf);
}

body {
  font-family: "Mortal Kombat", sans-serif;
  background-color: #000;
  color: #fdb124;
}

h2 {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  max-width: 1750px;
}

.cityChoose {
  font-size: 4rem;
}

.temperature {
  font-size: 48px;
}

.description {
  font-size: 36px;
  text-align: center;
}

hr {
  background-color: #fdb124;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}
