@media all and (min-width: 1024px) and (max-width: 1280px) {
    .windDirection,
    .windSpeed,
    .windGusts {
        font-size: 200%;
        margin-top: 40px;
    }

    .footer{font-size: 100%;}
 }


@media all and (min-height: 578px) and (max-height: 768px) {
    .cityChoose {
        font-size: 300%;
        margin-bottom: 15px;
    }

    .currentWeather{font-size: 130%;}

    .description {
        font-size: 150%;
    }

    .temperature_Fa,
    .temperature_Ce {font-size: 150%;}

    .windDirection,
    .windSpeed,
    .windGusts {
        font-size:75%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .cityChoose {
        font-size: 250%;
        margin-bottom: 10px;
    }

    .currentWeather {
        font-size: 130%;
    }

    .windDirection,
    .windSpeed,
    .windGusts {
        font-size: 100%;
    }

    .footer {font-size: 125%;}
}

@media all and (max-width: 480px) { 

    .cityChoose { 
        font-size: 200%;
        margin-bottom: 20px;
    }

    .currentWeather {font-size: 80%;}

    .description {font-size: 160%;}

    .temperature_Fa,
    .temperature_Ce {font-size: 200%;}

    .windDirection,
    .windSpeed,
    .windGusts {
        font-size: 100%;
    }

    .footer {font-size: 125%;}
}

@media all and (max-width: 320px) { 
    .cityChoose {font-size: 150%;}

    .currentWeather {font-size: 70%;}

    .temperature_Fa,
    .temperature_Ce {font-size: 125%;}

    .windDirection,
    .windSpeed,
    .windGusts {
    font-size: 75%;}
}